*{
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    color: black;
    background: white;
    font-family: 'Inria Serif', serif;
}
.concenter {
    max-width: 1200px;
    margin: auto;
}

.msg{
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

.imcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

.success{
    color: #3a6e3a;
    border: 1px solid #3a6e3a;
    background: #bcf5bc;
}

.error{
    color: #884b4b;
    border: 1px solid #884b4b;
    background: #f5bcbc;
}

header{
    background: #0b2829;
    height: 80px;
    color: #062325;
   
}
header .menu-toggle{
    display: none;
}

header *{
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    
}


header .logo{
    
    height: inherit;
}

header .logo-text{
    /*margin: 0px;*/
    font-family: 'Lato', sans-serif;
    font-weight: 900 ;
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
    color: black;

    /*margin: 5px;*/
}

a{
    text-decoration: none;
    color: inherit;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.btn{
    padding: .5rem 1rem;
    background: #005255;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
    font-family: 'Lato', sans-serif;
}
.download-btn{
    padding: .5rem 1rem;
    background: #005255;
    color: black;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
    font-family: 'Lato', sans-serif;
    
}

/*.download-btn:hover{*/
/*    transform: translateY(-4px);*/
/*}*/






.btn:hover{
    color: white !important;
    background: #0b2829;
}
header ul{
    margin: 0px;
    padding: 0px;
    height: 95px;
    position: relative;
    align-items: flex-end;
    font-weight: bold;
    list-style: none;
    background: #005255;
    font-size: 1.7em;
    
}

header ul li ul{
    position: absolute;
    width: 165px;
    height: 60px;
    display: none;
    
}

header ul li:hover ul {
    /* display: block; */
    height: 1px;
}
header ul li ul li{
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
}

header ul li ul li a:hover{
    background: #0b2829;
}

header ul li{
    float: left;
    position: relative;
    
}

header ul li a{
    display: block;
    /* padding: 20px; */
    padding: 1em;
    text-decoration: none;
}

header ul li a:hover{
    background: #0b2829;
    transition: 0.5s;
}

#image_content{
	width: 15%;
	margin: 20px auto;
	border: 1px solid #cbcbcb;
}
form{
	width: 50%;
	margin: 20px auto;
}
form div{
	margin-top: 5px;
}
#img_div{
	width: 80%;
	padding: 5px;
	margin: 15px auto;
	border: 1px solid #cbcbcb;
}
#img_div:after{
	content: "";
	display: block;
	clear: both;
}
img{
	float: left;
	margin: 5px;
	width: 300px;
	height: 140px;
}


.page-wrapper{
    min-height: 100%;
}
.card-body {
    min-height: 100%;
}
.create{
    margin-top: 120px;
    background: #005255;
    margin-left: 20px;
    width:  fit-content;
    
    padding: 10px 15px;
    border: 2px solid rgb(189, 13, 13);
    border-radius: 10px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
}
.create:hover{
    background: #0b2829;
}

.content{
    margin: 60px 20px 30px;
    width:  90%;
    /* border: 1px solid red; */
}

.content .main-content{
    margin: 2px;
    width: 70%;
    float: left;
    
    /* border: 1px solid blue; */
}

.content .main-content .post{
    width: 95%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    border: 1px solid rgb(12, 1, 1);
    position: relative;
    
}

.content .main-content .post .read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #005255;
    background: transparent;
    border-radius: 0px;
    color: #01040a !important;
}

.content .main-content .post .read-more:hover{
    background: #0b2829;
    color: white !important;
    transition: .25s;
}
.content .main-content .post .post-preview{
    width: 80%;
    padding: 10px;
    
    
}

.content .main-content .recent-post-title{
    margin: 20px;

}

.btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}

.btn-post{
    margin-top: 5px;
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    
}

.text-input{
    outline: none;
    font-size: 1.2em;
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    word-wrap: break-word;
    border-radius: 5px;
    line-height: 1.5rem;
    color: #444;
    font-family: 'Lato', sans-serif;
    
}

.textsubject-input{
    
    border: 1px solid #000000;
    
    
    font-size: 1.2em;
    padding: .7rem 1rem;
    display: block;
    width: 80%;
    word-wrap: break-word;
    inline-size: 550px;
    overflow-wrap: break-word;
    hyphens: manual;
    border-radius: 5px;
    
    color: #444;
    font-family: 'Lato', sans-serif;
    
}

/* .textsubject-input {
    inline-size: 550px;
    overflow-wrap: break-word;
    hyphens: manual;
} */

    
.create-post h1{
    font-weight: bold;
    color:white;
}

    

.create-post-input{
    word-wrap: break-word;
    outline: none;
    font-size: 1.2em;
    padding: .7rem 2rem;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    line-height: 5rem;
    color: #444;
    font-family: 'Lato', sans-serif;
    
}


.auth-content{
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;

    
}

.post-content{
    width: 100%;
    margin: auto;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 5px;
    float: left;
}

.auth-content .form-title{
    text-align: center;
}

.auth-content form div{
    margin-bottom: 10px;
    

}

.auth-content form p{
    text-align: center;
}
.auth-content div{
    text-align: center;
}
form{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
   }

.footer{
    background: #005255;
    color: #062325;
    height: 200px;
    position: relative;
    margin-top: 100px;
    font-weight: bold;
    
}

.footer .footer-content{
    /* border: 1px solid rgb(248, 9, 9); */
    height: 140px;
    display: flex;
    /* border:1px solid red; */
    padding-top: 10px;
    
    
}

.footer .footer-content .footer-section{
    flex: 1;
    padding-left: 25px;
    

    /* border: 1px solid #f8f7f7; */
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}


.footer .footer-content h3{
    color: white;
    font-size: 1.1em;
 
}
.footer .footer-bottom{
    background: #0b2829;
    color: #d4e3e4;
    height: 60px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    /* left: 0px; */
    padding-top: 10px;
    /* border:1px solid red; */
    
}

.postcontentwer .card-body{
    /* border: 1px solid red; */
    position: relative;
}

.form-div { 
    margin-top: 100px; 
    border: 1px solid #e0e0e0; 
}

#profileDisplay { display: block; height: 210px; width: 60%; margin: 0px auto; border-radius: 50%; }
.img-placeholder {
  width: 60%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 210px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}

.comment-box {
    width: 60%;
    padding: 10px;
    margin:  10px;
    background-color:#cccccc;
    border-radius: 5px;
    border: 1px solid #3b2b2b;
    position: relative;
}

.comment-box p{
    font-size:  16px;
    line-height: 15px;
    

}

.edit-form {
    position: absolute;
    top: 0px;
    right: 0px;
}

.edit-form button {
    width: 40px;
    height: 20px;
    color: #282828;
    background-color: #fff;
}

.edit-form button:hover {
    opacity: 1;
}

.delete-form {
    position: absolute;
    top: 0px;
    left: 60px;
}

.delete-form button {
    width: 50px;
    height: 20px;
    color: #282828;
    background-color: #fff;
}
.delete-form button:hover {
    opacity: 1;
}


/*Media queries*/
@media only screen and (max-width: 600px){
    header{
        position: relative;
    }
    header ul{
        width: auto;
        background: rgb(142, 139, 172);
        max-height: 0px;
    }
    header ul li{
        width: 30%;
        height: 60px;
    } 
    header ul li ul{
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a{
        padding: 20px;       
        padding-left: 30px;
    }
    header ul li ul li a:hover{
        background: rgb(51, 57, 117);
    }
    .create{       
        width: fit-content;
        border: 2px solid rgb(0, 0, 0);
    }
    .content{
        width: fit-content;
        
        padding-left: 10px;
        border: 1px solid red;
    }
}